.name img {
  padding: 30px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.name {
  display: flex;
  align-items: center;
}

.Email {
  display: flex;
  align-items: center;
}

.email_input {
  /* margin: 20px; */
  padding-left: 9px;
  padding-right: 9px;
  width: 40%;
  /* position: relative;
  display: block; */
  height: 40px;
  border-radius: 20px;
  color: #133b5c;
}

.pass_input {
  /* margin: 20px; */
  padding-left: 9px;
  padding-right: 9px;
  margin-top: 20px;
  width: 40%;
  /* position: relative;
  display: block; */
  height: 40px;
  border-radius: 20px;
  color: #133b5c;
}

.button {
  background-color: #38a3a5;
  border-radius: 12px;
  border: none;
  color: #fcdab7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
